<div class="logo text-center my-3">
        <img
        [src]='logoUrl' 
        [title]='logoTitle'
        [style.width.px]='logoWidth' />
</div>
<div class="text-center mb-3">
    <a class="btn btn-primary" [routerLink]="['/cadastro']">Cadastre seu sonho</a>
    <a class="btn btn-primary" [routerLink]="['/cadastro-voluntario']">Seja um Voluntário</a>
    <a class="btn btn-primary" [routerLink]="['/cadastro-parceiro']">Seja um Parceiro</a>
    <a class="btn btn-primary" [routerLink]="['/adote-um-sonho']">Adote um sonho</a>
</div>