<header class="logo-title my-3" ></header>
<section class="form-group row" >

	<ul class="col-12">
		<li>
			<article class="dream">
				<h3 class="title">“ Quero conhecer Zico ”</h3>
				<p class="public-description">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</p>
				<span class="aux-text">Podemos contar com você?</span>
				<button class="button">Detalhes do Sonho</button>
			</article>
		</li>
	</ul>
		
</section>