<h1 class="logo-title my-3" ></h1>
<div class="my-3">
    <a (click)='onBack()' href="javascript: void(0);"><i class="fa fa-angle-left" aria-hidden="true"></i> Voltar</a> 
</div>
<div class="alert alert-danger hide-alert" *ngIf="registerForm.invalid && formSubmitted">
  {{fieldsRequiredMessage}}
</div>
<div class="alert alert-danger" *ngIf="failed">
  {{errorMessage}}
</div>  
<div class="alert alert-success" *ngIf="success">
  {{successMessage}}
</div>
<form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
    <div class="form-group row" >
      <div class="col-9">
        <label>Nome do Sonhador<span class="text-danger">*</span></label>
        <input formControlName="dreamer_name" type="text" class="form-control" required >
      </div>
      <div class="col-3">
        <label>Idade do Sonhador<span class="text-danger">*</span></label>
        <input formControlName="dreamer_age" type="text" class="form-control" required >
      </div>
    </div>
    <div class="form-group row">
        <div class="col-12">
          <label>Endereço do Sonhador<span class="text-danger">*</span></label>
          <input formControlName="dreamer_address" type="text" class="form-control" >
        </div>
    </div>
    <div class="form-group row">
      <div class="col-12">
        <label>Condições médicas e expectativa de vida do sonhador <span class="text-danger">*</span></label>
        <textarea formControlName="dreamer_health_conditions" class="form-control" rows="10"></textarea>
      </div>
    </div>
    <div class="form-group row">
        <div class="col-12">
          <label>Nome do Contato<span class="text-danger">*</span></label>
          <input formControlName="contact_name" type="text" class="form-control" >
        </div>
    </div>
    <div class="form-group row">
      <div class="col-6">
        <label>E-mail do Contato<span class="text-danger">*</span></label>
        <input formControlName="contact_email" type="email" class="form-control" placeholder="exemplo@email.com">
      </div>
      <div class="col-6">
        <label>Telefone do Contato<span class="text-danger">*</span></label>
        <input formControlName="contact_phone" type="text" class="form-control" placeholder="(21) 99999-9999">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-6">
        <label>Relação com o sonhador<span class="text-danger">*</span></label>
        <input formControlName="contact_liason" type="text" class="form-control">
      </div>
      <div class="col-6">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-12">
        <label>O sonhador está internado? <span class="text-danger">*</span></label>
        <label class="custom-control custom-radio">
          <input formControlName="inmate" name="inmate" type="radio" class="custom-control-input" [value]=true >
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Sim</span>
        </label>
        <label class="custom-control custom-radio">
          <input formControlName="inmate" name="inmate" type="radio" class="custom-control-input" [value]=false >
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Não</span>
        </label>
      </div>
    </div>
    <div class="form-group row">
        <div class="col-6">
          <label>Nome da Instituição onde está internado</label>
          <input formControlName="local" type="text" class="form-control">
        </div>
        <div class="col-6">
          <label>Endereço do Local de Internação</label>
          <input formControlName="local_address" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
      <div class="col-6">
        <label>Nome do Contato do Local de Internação</label>
        <input formControlName="local_name" type="text" class="form-control">
      </div>
      <div class="col-6">
        <label>Telefone do Contato do Local de Internação</label>
        <input formControlName="local_phone" type="text" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-12">
        <label>O sonhador tem aprovação médica para o sonho ser realizado? <span class="text-danger">*</span> </label>
        <label class="custom-control custom-radio">
          <input formControlName="medical_approved" name="medical_approved" type="radio" class="custom-control-input" [value]=true>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Sim</span>
        </label>
        <label class="custom-control custom-radio">
          <input formControlName="medical_approved" name="medical_approved" type="radio" class="custom-control-input" [value]=false>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Não</span>
        </label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-12">
        <label>O sonhador tem aprovação do seu responsável para o sonho ser realizado? <span class="text-danger">*</span></label>
        <label class="custom-control custom-radio">
          <input formControlName="parental_approved" name="parental_approved" type="radio" class="custom-control-input" [value]=true >
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Sim</span>
        </label>
        <label class="custom-control custom-radio">
          <input formControlName="parental_approved" name="parental_approved" type="radio" class="custom-control-input" [value]=false  >
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Não</span>
        </label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-12">
        <label>Descrição detalhada do sonho<span class="text-danger">*</span></label>
        <textarea formControlName="description" class="form-control" rows="10"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <div class="col text-right">
        <button type="submit" class="btn btn-primary">Cadastrar sonho</button>
      </div>
    </div>
</form>