<header class="logo-title my-3" ></header>
<section class="form-group row" >

	<ul class="col-12" *ngIf='dreams'>
		<li *ngFor='let dream of dreams'>
			<article class="dream">
				<div class="content">
					<h3 class="title">“ {{dream.dream_nickname}} ”</h3>
					<p class="public-description">{{dream.dream_short_description}}</p>
					<span class="aux-text">Podemos contar com você?</span>
				</div>
				<button class="button">Detalhes do Sonho <i class="fa fa-arrow-up" aria-hidden="true"></i></button>
			</article>
		</li>
	</ul>
		
</section>