Django==1.11.4
chardet==2.3.0
colorama==0.3.2
djangorestframework==3.6.4
html5lib==0.999
pygobject==3.14.0
python-apt==0.9.3.12
pytz==2017.2
requests==2.4.3
six==1.8.0
unattended-upgrades==0.1
urllib3==1.9.1
wheel==0.24.0