<h1 class="logo-title my-3" ></h1>
<div class="my-3">
    <a (click)='onBack()' href="javascript: void(0);"><i class="fa fa-angle-left" aria-hidden="true"></i> Voltar</a> 
</div>
<div class="alert alert-danger hide-alert" *ngIf="registerForm.invalid && formSubmitted">
  {{fieldsRequiredMessage}}
</div>
<div class="alert alert-danger" *ngIf="failed">
  {{errorMessage}}
</div>  
<div class="alert alert-success" *ngIf="success">
  {{successMessage}}
</div>
<form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
    <div class="form-group row" >
      <div class="col-6">
        <label>Nome<span class="text-danger">*</span></label>
        <input formControlName="name" type="text" class="form-control" required >
      </div>
      <div class="col-6">
        <label>Apelido<span class="text-danger">*</span></label>
        <input formControlName="nickname" type="text" class="form-control" required >
      </div>
    </div>

    <div class="form-group row" >
      <div class="col-4">
        <label>Data de Aniversário<span class="text-danger">*</span></label>
        <input formControlName="birthdate" type="date" class="form-control" required >
      </div>
      <div class="col-4">
        <label>Telefone<span class="text-danger">*</span></label>
        <input formControlName="telephone" type="text" class="form-control" required >
      </div>
      <div class="col-4">
        <label>Celular<span class="text-danger">*</span></label>
        <input formControlName="cellphone" type="text" class="form-control" required >
      </div>
    </div>

    <div class="form-group row" >
      <div class="col-6">
        <label>E-mail<span class="text-danger">*</span></label>
        <input formControlName="email" type="email" class="form-control" required >
      </div>
      <div class="col-6">
        <label>Endereço<span class="text-danger">*</span></label>
        <input formControlName="address" type="text" class="form-control" required >
      </div>
    </div>

    <div class="form-group row" >
      <div class="col-6">
        <label>Caracteristicas Pessoais<span class="text-danger">*</span></label>
        <input formControlName="personal_characteristics" type="text" class="form-control" required >
      </div>
      <div class="col-6">
        <label>Talento<span class="text-danger">*</span></label>
        <input formControlName="talents" type="text" class="form-control" required >
      </div>
    </div>
    
    <div class="form-group row" >
      <div class="col-6">
        <label>Dias disponíveis<span class="text-danger">*</span></label><br />
        <ss-multiselect-dropdown formControlName="available_days_times" [settings]="mySettings" [options]="availableDaysTimesOptions" [(ngModel)]="availableDaysTimesOptionsModel"></ss-multiselect-dropdown>
      </div>
    </div>
    
    <div class="form-group row">
      <div class="col">
        <button type="submit" class="btn btn-primary">Ser um Voluntário</button>
      </div>
    </div>
</form>